// ===== COLOR SCHEME ===== //
$bg-light: rgb(241, 241, 241);
$bg-dark: rgb(54, 54, 54);
$bg-dark-opaque: rgba(54, 54, 54, 0.8);

// Borders
$border-radius: 3px;
$border-size: 1px;
$border-type: solid;
$border-color: rgb(180, 180, 180);

// Sizing
$header: 80px;